Makefile
aclocal.m4
libtool
autom4te.cache/
build-aux/*
config.log
config.status
configure
.deps/
*/.deps/
src/Makefile
src/compat/.deps/
.dirstamp
*/.dirstamp
*.in
*.in~
*.a
src/config/stamp-h1
src/test/buildenv.py
share/setup.nsi
share/qt/Info.plist
src/config/*-config.h*
qa/pull-tester/tests-config.sh
qa/pull-tester/run-bitcoind-for-test.sh
contrib/devtools/split-debug.sh
